.movieRow {
    margin-bottom: 30px; /*entre Origais e outro titulo */
}
.movieRow h2 {
    margin: 0px 0px 0px 30px; /* entre o nome para a esquerda : cima , direita, baixo, esquerda */
}
.movieRow--listarea {
    overflow-x: hidden; /*tudo o que tiver a mais na tela no X é cortado */
    padding-left: 30px; /*alinhar os filmes para a esquerda tambem 30px */
}
/*
.movieRow--list {
    width: 99999px; /*para nao partir  */ /*
} 
*/
.movieRow--list {
    transition: all ease 0.5s;
}
.movieRow--item {
    display: inline-block; /*item ao lado do outro */
    width: 150px; /*cada filme tera este espaco para ser usado */
    cursor: pointer; /* para o cursor ficar com o simbolo de pointer */ 
}
.movieRow--item img {
    width: 100% ; /* percentaem da area dispoinvel - 150px */
    transform: scale(0.9); /* css vai ser diminuido a 90% */ 
    transition: all ease 0.2s; /* tempo para a transformacao para subir a imagem, neste caso 0.2s */ 
}
.movieRow--item img:hover {
    transform: scale(1); /* ao passar o rato, coloca a imagem a 100% */
}
.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:  99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}
.movieRow--left {
    left: 0;
}
.movieRow--right {
    right: 0;
}
.movieRow:hover .movieRow--left ,
.movieRow:hover .movieRow--right {
    opacity: 1;
}
/*para smartphone */
@media (max-width:760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }
}